# 开发工具

markdown

# 后端

Django
django-cors-headers
httpx
websocket-client
channels
daphne

# image compress 图片压缩

pillow
scikit-image
opencv-python

# video compress 视频压缩

moviepy
ffmpeg-python 

# 文件夹打包

py7zr

# auto-click 自动点击（windows限定）

pypiwin32
PyUserinput
pyautogui
PyQT5
winsdk

# general_basic 通用辅助

yagmail

# crawler 网络爬虫

selenium
piexif
requests
lxml
BeautifulSoup4

# auto_trans 截图翻译
Cython
pykakasi
pytesseract
deep-translator
PyQT6



